﻿@model RicardoIM.Models.LoginViewModel
<div class="jumbotron">
    <h1>Ricardo IM(demo) </h1>
    <p class="lead">Login to enter chat</p>

    <div class="login-wrap">


        @using (Html.BeginForm("Chat", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value=" Enter Chat &raquo;" class="btn btn-primary btn-large " />
                </div>
            </div>
            <p>
            </p>
        }

        @*@Html.BeginForm()
            {
            <input type="text" class="form-control" placeholder="User ID" autofocus>
            <br>
            @*<input type="button" class="btn btn-block" value="Enter Chat" />*@
        @*<p><a href="http://asp.net" class="btn btn-primary btn-large">Enter Chat &raquo;</a></p>*@
        @*<button class="btn btn-theme btn-block" href="index.html" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
                <hr>
                </div>
            }*@
    </div>


