﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="ChatApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ricardo IM(demo)", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>



            <div class="navbar-collapse collapse" ng-controller="headerController">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Chat", "Chat", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @*<p>&copy; @DateTime.Now.Year -Ricardo IM(demo)</p>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/ChatScripts/angular.min.js"></script>
    <script src="~/ChatScripts/underscore-min.js"></script>
    <script src="~/Scripts/angular-flash.js"></script>
    <script type="text/javascript">

        var app = angular.module("ChatApp", ["flash"]);

    </script>
    <script src="~/ChatScripts/Factories.js"></script>
    <script src="~/ChatScripts/headerController.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
